{% load static %}
<section class="about-section pb-60 pt-60 mb-4">
    <div class="container">
      <h2
        class="text-primary d-flex align-items-center justify-content-center mb-5"
      >
        {% comment %} About Us {% endcomment %}
      </h2>
      <div class="row">
        <div class="col-xxl-6 col-xl-7 col-lg-8">
          <div class="about-left">
            <div class="row">
              <div class="col-md-6">
                <div class="about-1">
                  <img
                    src="{% static 'fundapp/allImage/josh-appel-NeTPASr-bmQ-unsplash.jpg' %}"
                    class="w-100 h-100 object-fit-cover"
                  />
                </div>
                <div class="about-content-box bg-primary">
                  <div
                    class="about-content d-flex flex-column align-items-center justify-content-center"
                  >
                    <h2
                      class="number-big text-white fs-1 fw-6 counter"
                      data-countto="25"
                      data-duration="1000"
                    ></h2>
                    <p class="mb-0 text-white fs-14 fw-5">
                      Years Of Experience
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-md-flex align-items-center">
                <div class="about-2">
                  <img
                    src="{% static 'fundapp/allImage/fundaboutus.jpg' %}"
                    class="w-100 h-100 object-fit-cover"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-6 col-xl-5 col-lg-4 mt-lg-0 mt-sm-5 mt-4">
          <div class="about-right">
            {% comment %} <p class='text-primary'>
              <b>
                About Us
              </b>
            </p> {% endcomment %}
            <h2 class="text-dark fw-6 mb-3 pb-1">
              We Have Funded 44k Dollars Over
            </h2>
            <p class="text-dark fs-16 fw-5 mb-4 pb-lg-3">
              We have plenty of water of drink even..
            </p>
            <ul>
              <li class="text-dark fs-16 fw-5 mb-2">A place in history.</li>
              <li class="text-dark fs-16 fw-5 mb-2">
                Its about impact, goodness.
              </li>
              <li class="text-dark fs-16 fw-5 mb-2">
                More goodness in the world.
              </li>
              <li class="text-dark fs-16 fw-5 mb-2">
                The world we live in right now can be hard.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>