{% load static %}

<section class="category-section pt-60 pb-50">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">Food</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">Treatment</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">tulip</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">Education</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">Global Cause</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">Environment</h6>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="category-card">
            <a href="causes.html">
              <div class="category-icon mx-auto mb-4">
                <img
                  src="{% static 'fundapp/allImage/food1.jpg' %}"
                  alt="category"
                  class="img-fluid object-fit-cover"
                />
              </div>
              <h6 class="mb-0 fw-5">work</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>