{% load static %}
<section class="companies-logo-section pt-100 pb-100 bg-gray">
    <div class="container">
      <div class="company_logo_slider">
        <div class="d-flex gap-5 slider">
          <div class="slick-slider">
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="Turbologo"
                />
              </div>
            </div>
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="HeartCare"
                />
              </div>
            </div>
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="Duragas"
                />
              </div>
            </div>
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="SafeGuard"
                />
              </div>
            </div>
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="Maxton Design"
                />
              </div>
            </div>
            <div class="slide d-flex justify-content-center">
              <div class="company-logo">
                <img
                  src="{% static 'fundapp/allImage/company_logo.png' %}"
                  alt="duragas-logo"
                  class="object-fit-cover"
                  title="LogoType"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>