{% load static %}

<section class="count-section bg-primary py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6 text-white text-center py-4">
          <h2 class="fs-1 fw-6">
            <span class="counter" data-countto="5" data-duration="3000"
              >0</span
            >M+
          </h2>
          <h3 class="fs-6 mb-0">Projects Done</h3>
        </div>
        <div class="col-lg-3 col-6 text-white text-center py-4">
          <h2 class="fs-1 fw-6">
            <span class="counter" data-countto="3" data-duration="3000"
              >0</span
            >M+
          </h2>
          <h3 class="fs-6 mb-0">Hopeless Child</h3>
        </div>
        <div class="col-lg-3 col-6 text-white text-center py-4">
          <h2 class="fs-1 fw-6">
            <span class="counter" data-countto="99" data-duration="3000"
              >0</span
            >+
          </h2>
          <h3 class="fs-6 mb-0">Team Member</h3>
        </div>
        <div class="col-lg-3 col-6 text-white text-center py-4">
          <h2 class="fs-1 fw-6">
            <span class="counter" data-countto="10" data-duration="3000"
              >0</span
            >+
          </h2>
          <h3 class="fs-6 mb-0">Get Regards</h3>
        </div>
      </div>
    </div>
  </section>