{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home | page</title>
<link rel="icon" href="{% static 'fundapp/allImage/logo.png' %}" type="image/png" />
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css"
/>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
/>
<link href="{% static 'fundapp/css/front-third-party.css' %}" rel="stylesheet" />
<link
    href="{% static 'fundapp/css/front-pages4ed3.css' %}?id=913148104c16b859e330"
    rel="stylesheet"
    type="text/css"
/>
<link
    href="{% static 'fundapp/css/front-custom38b6.css' %}?id=7cd9537365f1d6fcd301"
    rel="stylesheet"
    type="text/css"
/>
<link rel="stylesheet" href="{% static 'fundapp/css/logo-slider.css' %}">