<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "fundapp/css.html" %}
  </head>

  <body class="body-wrapper">
    <!-- start header section -->
    {% include "fundapp/header.html" %}

    <div class="faqs-page">
      <!-- start hero-section -->
      <section class="hero-section">
        <div
          class="inner-bgimg position-relative"
          style="
            background: url('allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg');
          "
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 parallelogram-shape">
                <div class="text-white inner-text position-relative">
                  <p class="fs-18 fw-5 mb-md-3 pb-lg-2 mb-2">
                    Our Mission : Food, Education, Medicine
                  </p>
                  <h2 class="fs-1 mb-md-0 fw-6">FAQs</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end hero-section -->
      <!-- start accordian-section -->
      <section class="accordian-section mt-5 pb-100">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-12">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-7">
                    <button
                      class="accordion-button px-0 fw-5 fs-16"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-7"
                      aria-expanded="true"
                      aria-controls="faq-collapse-7"
                    >
                      How does Crowdfunding works?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-7"
                    class="accordion-collapse collapse show"
                    aria-labelledby="faq-7"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        You start your crowdfunding by telling your story and
                        setting a goal. You will then receive a fundraising page
                        to accept donations and share your campaign. Signing up
                        is easy and every donation is yours to keep, whether or
                        not you reach your goal. Crowdfunding makes it
                        incredibly easy to raise money online for the things
                        that matter to you most.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-8">
                    <button
                      class="accordion-button px-0 fw-5 fs-16 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-8"
                      aria-expanded="false"
                      aria-controls="faq-collapse-8"
                    >
                      What can I raise money for?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-8"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-8"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        People use Crowdfunding to raise money for themselves,
                        friends and family, or even complete strangers in random
                        acts of kindness. People raise money for just about
                        everything, including medical expenses, education costs,
                        volunteer programs, youth sports, funerals and
                        memorials, and even animals and pets.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-9">
                    <button
                      class="accordion-button px-0 fw-5 fs-16 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-9"
                      aria-expanded="false"
                      aria-controls="faq-collapse-9"
                    >
                      How do I get donations?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-9"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-9"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        Crowdfunding provides an easy way to raise money from
                        your friends, family, and online community. Our platform
                        makes it simple to share your campaign in a variety of
                        ways to bring in donations, track your progress, and
                        post updates to engage your community.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-10">
                    <button
                      class="accordion-button px-0 fw-5 fs-16 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-10"
                      aria-expanded="false"
                      aria-controls="faq-collapse-10"
                    >
                      How will I receive the donated funds?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-10"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-10"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        You can withdraw donation amount to your PayPal account
                        or to your bank account.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-12">
                    <button
                      class="accordion-button px-0 fw-5 fs-16 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-12"
                      aria-expanded="false"
                      aria-controls="faq-collapse-12"
                    >
                      Can a friend withdraw the money I raise for them?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-12"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-12"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        Yes. Crowdfunding makes it easy for another friend or
                        family member to securely access the funds you have
                        raised. Through Crowdfunding, they will receive direct
                        access to the money you have raised.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="faq-13">
                    <button
                      class="accordion-button px-0 fw-5 fs-16 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-collapse-13"
                      aria-expanded="false"
                      aria-controls="faq-collapse-13"
                    >
                      How do I withdraw funds from my campaign?
                    </button>
                  </h2>
                  <div
                    id="faq-collapse-13"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-13"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body px-0 pt-0">
                      <p class="fs-14 text-dark mb-0">
                        Once your Crowdfunding starts receiving online
                        donations, you can easily request a withdrawal at any
                        time. Withdrawing money does not affect the progress
                        meter displayed on your campaign. Simply click
                        ‘Withdraw’ while logged into your account and follow the
                        instructions. You can withdraw your balance directly to
                        your bank account. Bank transfers take 2-5 business days
                        to arrive.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end accordian-section -->
    </div>
    

    <!-- company logo slide start -->
    {% include "fundapp/company-logo.html" %}
    <!-- start footer-section -->
    {% include "fundapp/footer.html" %}
    <!-- end footer-section -->

    <!-- js -->
    {% include 'fundapp/js.html' %}
  </body>
</html>
