{% load static %}
<footer class="bg-secondary pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <div class="footer-left mb-lg-0 mb-4">
            <div class="footer-logo mb-4 pb-lg-2">
              <a href="index.html">
                <img
                  src="{% static 'fundapp/allImage/logo.png' %}"
                  alt="Jobs"
                  class="w-100 h-100 object-fit-cover"
                />
              </a>
            </div>
            <p class="fs-14 text-white mb-0">
              It&#039;s been a year like no other, but we still have the
              chance to change the course of 2021 for 10,000 people in rural
              Mali. Together, we can transform the future for families
              who&#039;ve endured life without clean water for too long.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="footer-right ps-xl-3">
            <h3 class="fs-18 text-white mb-4 pb-lg-2">Get Updates</h3>
            <div class="email-box position-relative">
              <form
                action=""
                method="post"
                id="addEmailForm"
                class="ajax-form form-wraper mailchimp-form d-flex shadow-sm"
              >
                <input
                  type="hidden"
                  name="_token"
                  value="PLti7y69EP3t2BQKCOJgDuPXNRGd8yLpp1DBOtab"
                />
                <input
                  type="email"
                  name="email"
                  class="fs-14 fw-5 text-white"
                  placeholder="Enter Email Address"
                />
                <button
                  type="submit"
                  id="emailBtn"
                  class="button btn-primary position-absolute fs-14 fw-5"
                >
                  Subscribe
                </button>
              </form>
            </div>

            <div class="social-icon d-flex mt-4 pt-lg-2">
              <div
                class="icon d-flex align-items-center justify-content-center me-sm-4 me-3"
              >
                <a href="https://www.facebook.com/infyom/" target="_blank">
                  <i
                    class="fa-brands fa-facebook-f fs-16 justify-content-between align-items-center"
                  ></i>
                </a>
              </div>
              <div
                class="icon d-flex align-items-center justify-content-center me-sm-4 me-3"
              >
                <a href="https://www.twitter.com/infyom/" target="_blank">
                  <i
                    class="fa-brands fa-twitter fs-16 justify-content-between align-items-center"
                  ></i>
                </a>
              </div>
              <div
                class="icon d-flex align-items-center justify-content-center me-sm-4 me-3"
              >
                <a href="https://www.instagram.com/infyom/" target="_blank">
                  <i
                    class="fa-brands fa-instagram fs-16 justify-content-between align-items-center"
                  ></i>
                </a>
              </div>
              <div
                class="icon d-flex align-items-center justify-content-center me-sm-4 me-3"
              >
                <a href="https://www.linkedin.com/infyom/" target="_blank">
                  <i
                    class="fa-brands fa-linkedin-in fs-16 justify-content-between align-items-center"
                  ></i>
                </a>
              </div>
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <a href="https://www.youtube.com/infyom/" target="_blank">
                  <i
                    class="fa-brands fa-youtube fs-16 justify-content-between align-items-center"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>