{% load static %}

<section class="news-feed-section pb-60">
    <div class="container">
      <div class="text-center">
        <h2 class="fs-6 fw-6 text-primary">Insights</h2>
        <h3 class="fs-2 fw-6 mb-60">News Feeds</h3>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-12 mb-2">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="save-the-childr.html">
                  <img
                    src="{% static 'fundapp/allImage/animal.jpg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="news.html" class="badge small-btn">Charity</a>
            </div>
            <div class="card-body">
              <span class="mb-2 d-block">
                <i
                  class="fa-solid fa-calendar-days text-primary fs-6 me-2"
                ></i>
                <span class="text-dark">26th September 2023</span>
              </span>
              <h4 class="card-title fs-18">
                <a class="link-dark" href="save-the-childr.html"
                  >esperanza test</a
                >
              </h4>
              <p class="mb-0 text-secondary">test -test</p>
              <a href="save-the-childr.html" class="read-more-btn"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 mb-2">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="save-the-childr.html">
                  <img
                    src="{% static 'fundapp/allImage/animal.jpg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="news.html" class="badge small-btn">Food</a>
            </div>
            <div class="card-body">
              <span class="mb-2 d-block">
                <i
                  class="fa-solid fa-calendar-days text-primary fs-6 me-2"
                ></i>
                <span class="text-dark">17th May 2023</span>
              </span>
              <h4 class="card-title fs-18">
                <a class="link-dark" href="save-the-childr.html"
                  >sgdhdsdsfbsdb</a
                >
              </h4>
              <p class="mb-0 text-secondary">messing 2415351</p>
              <a
                href="news-details/sgdhdsdsfbsdb.html"
                class="read-more-btn"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 mb-2">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="news-details/investment-idea.html">
                  <img
                    src="{% static 'fundapp/allImage/animal.jpg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="news.html" class="badge small-btn">Growth</a>
            </div>
            <div class="card-body">
              <span class="mb-2 d-block">
                <i
                  class="fa-solid fa-calendar-days text-primary fs-6 me-2"
                ></i>
                <span class="text-dark">3rd October 2022</span>
              </span>
              <h4 class="card-title fs-18">
                <a
                  class="link-dark"
                  href="news-details/investment-idea.html"
                  >Investment ideas for better returns</a
                >
              </h4>
              <p class="mb-0 text-secondary">
                Investment is the key for growth whether...
              </p>
              <a
                href="news-details/investment-idea.html"
                class="read-more-btn"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
</section>