{% load static %}

<section class="our-team-section pb-60">
    <div class="container">
      <div class="text-center">
        <h2 class="fs-6 fw-6 text-primary">Volunteers</h2>
        <h3 class="fs-2 fw-6 mb-60">Our Team Mates With Good History</h3>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-lg-0 mb-4"
        >
          <div class="card flex-fill border-0">
            <div class="card-image mx-auto">
              <img
                src="{% static 'fundapp/allImage/team4.png' %}"
                alt="Infy Care"
                class="img-fluid object-fit-cover"
              />
            </div>
            <div class="card-body text-center d-flex flex-column">
              <h4 class="fs-18 fw-5">Mr. Paul Smith</h4>
              <h5 class="text-primary fs-14 fw-5 mb-0">Support Staff</h5>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-lg-0 mb-4"
        >
          <div class="card flex-fill border-0">
            <div class="card-image mx-auto">
              <img
                src="{% static 'fundapp/allImage/team4.png' %}"
                alt="Infy Care"
                class="img-fluid object-fit-cover"
              />
            </div>
            <div class="card-body text-center d-flex flex-column">
              <h4 class="fs-18 fw-5">Mr. John Thompson</h4>
              <h5 class="text-primary fs-14 fw-5 mb-0">Support Staff</h5>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-lg-0 mb-4"
        >
          <div class="card flex-fill border-0">
            <div class="card-image mx-auto">
              <img
                src="{% static 'fundapp/allImage/team4.png' %}"
                alt="Infy Care"
                class="img-fluid object-fit-cover"
              />
            </div>
            <div class="card-body text-center d-flex flex-column">
              <h4 class="fs-18 fw-5">Mrs. Dimassi Shatt</h4>
              <h5 class="text-primary fs-14 fw-5 mb-0">CEO</h5>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-lg-0 mb-4"
        >
          <div class="card flex-fill border-0">
            <div class="card-image mx-auto">
              <img
                src="{% static 'fundapp/allImage/team4.png' %}"
                alt="Infy Care"
                class="img-fluid object-fit-cover"
              />
            </div>
            <div class="card-body text-center d-flex flex-column">
              <h4 class="fs-18 fw-5">Mr. Salman Ahmad</h4>
              <h5 class="text-primary fs-14 fw-5 mb-0">Founder</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>