<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
    {% include "fundapp/css.html" %}
   </head>
   <body>
      <div
         class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed authImage"
         >
         <div
            class="d-flex flex-column flex-column-fluid align-items-center justify-content-center p-4"
            >
            <div class="col-12 text-center">
               <a href="index.html" class="image mb-7 mb-sm-10">
               <img
                  alt="Logo"
                  src="{% static 'fundapp/allImage/logo.png' %}"
                  class="img-fluid logo-fix-size"
                  />
               </a>
            </div>
            <div class="width-540"></div>
            <div
               class="bg-white rounded-15 shadow-md width-540 px-5 px-sm-7 py-10 mx-auto"
               >
               <h1 class="text-center mb-7">Create an Account</h1>
               <form
                  class="form w-100"
                  method="POST"
                  action="#"
                  >
                  <input
                     type="hidden"
                     name="_token"
                     value=""
                     />
                  <div class="row">
                     <div class="col-md-6 mb-sm-7 mb-4">
                        <label for="formInputFirstName" class="form-label">
                        First Name:<span class="required"></span>
                        </label>
                        <input
                           name="first_name"
                           type="text"
                           class="form-control"
                           id="first_name"
                           placeholder=" Enter First Name"
                           aria-describedby="firstName"
                           value=""
                           required
                           />
                     </div>
                     <div class="col-md-6 mb-sm-7 mb-4">
                        <label for="last_name" class="form-label">
                        Last Name:<span class="required"></span>
                        </label>
                        <input
                           name="last_name"
                           type="text"
                           class="form-control"
                           id="last_name"
                           placeholder=" Enter Last Name"
                           aria-describedby="lastName"
                           required
                           value=""
                           />
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 mb-sm-7 mb-4">
                        <label for="email" class="form-label">
                        Email:<span class="required"></span>
                        </label>
                        <input
                           name="email"
                           type="email"
                           class="form-control"
                           id="email"
                           aria-describedby="email"
                           placeholder=" Enter Email"
                           value=""
                           required
                           />
                     </div>
                  </div>
                  <div class="row mb-sm-7">
                     <div class="col-md-6">
                        <label for="password" class="form-label">
                        Password:<span class="required"></span>
                        </label>
                        <div class="mb-3 position-relative">
                           <input
                              type="password"
                              name="password"
                              class="form-control"
                              id="password"
                              placeholder=" Password"
                              aria-describedby="password"
                              required
                              aria-label="Password"
                              data-toggle="password"
                              autocomplete="new-password"
                              />
                           <span
                              class="position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 input-icon input-password-hide cursor-pointer text-gray-600"
                              >
                           <i class="bi bi-eye-slash-fill"></i>
                           </span>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <label for="password_confirmation" class="form-label">
                        Confirm Password:<span class="required"></span>
                        </label>
                        <div class="mb-3 position-relative">
                           <input
                              name="password_confirmation"
                              type="password"
                              class="form-control"
                              placeholder=" Confirm Password"
                              id="password_confirmation"
                              aria-describedby="confirmPassword"
                              required
                              aria-label="Password"
                              data-toggle="password"
                              />
                           <span
                              class="position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 input-icon input-password-hide cursor-pointer text-gray-600"
                              >
                           <i class="bi bi-eye-slash-fill"></i>
                           </span>
                        </div>
                     </div>
                     <div class="text-muted">
                        Use 8 or more characters with a mix of letters, numbers &amp;
                        symbols.
                     </div>
                  </div>
                  <div class="mb-sm-4 form-check">
                     <input
                        type="checkbox"
                        class="form-check-input"
                        name="toc"
                        value="1"
                        required
                        />
                     <span class="text-gray-700 me-2 ml-1"
                        >I Agree
                     <a
                        href="terms-conditions.html"
                        target="_blank"
                        class="ms-1 link-primary"
                        >Terms &amp; Conditions</a
                        ><span> and</span>
                     <a
                        href="privacy-policy.html"
                        target="_blank"
                        class="ms-1 link-primary"
                        >Privacy Policy</a
                        >.</span
                        >
                  </div>
                  <div class="d-grid">
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                     <span class="text-gray-700 me-2">Already have an account?</span>
                     <a href="login.html" class="link-info fs-6 text-decoration-none">
                     Sign in here
                     </a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <footer>
         <div class="container-fluid padding-0">
            <div class="row align-items-center justify-content-center">
               <div class="col-xl-6">
                  <div class="copyright text-center text-muted">
                     All rights reserved &copy; 2024
                     <a href="index.html" target="_blank" class="font-weight-bold ml-1"
                        >Oveshek</a
                        >
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Scripts -->
      <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
         integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
         integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
         crossorigin="anonymous"
         ></script>
   </body>
</html>