
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news | page</title>

    <link rel="icon" href="allImage/logo.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="css/front-third-party.css" rel="stylesheet" />
    <link
      href="css/front-pages4ed3.css?id=913148104c16b859e330"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="css/front-custom38b6.css?id=7cd9537365f1d6fcd301"
      rel="stylesheet"
      type="text/css"
    />
  </head>


<body class="body-wrapper">

    <!-- start header section -->
    <header>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-1 col-4">
            <div class="header-logo">
              <a href="index.html">
                <img src="allImage/logo.png" alt="Jobs" class="w-100 h-100" />
              </a>
            </div>
          </div>
          <div class="col-lg-11 col-8">
            <nav
              class="navbar navbar-expand-lg navbar-dark justify-content-end py-0"
            >
              <button
                class="navbar-toggler border-0 p-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              ></button>
              <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarNav"
              >
                <ul class="navbar-nav align-items-center py-2 py-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link active fw-5 fs-14"
                      aria-current="page"
                      href="index.html"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="about-us.html"
                      >About</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="causes.html">Causes</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link fw-5 fs-14">Pages</a>
                    <ul class="dropdown-nav ps-0">
                      <li><a href="faqs.html" class="fs-14 fw-5">FAQs</a></li>
                      <li>
                        <a href="events.html" class="fs-14 fw-5">Events</a>
                      </li>
                      
                      <li><a href="teams.html" class="fs-14 fw-5">Team</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="news.html">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="contact-us.html"
                      >Contact Us</a
                    >
                  </li>
                </ul>
                <div class="text-lg-end header-btn-grp ms-lg-2">
                  <a
                    href="register.html"
                    type="button"
                    class="btn btn-secondary me-3 mb-3 mb-lg-0"
                  >
                    Sign Up</a
                  >
                  <a href="login.html" class="btn btn-primary mb-3 mb-lg-0"
                    >Sign In</a
                  >
                </div>
              </div>
            </nav>
            <!--start mobile-menu -->
            <div class="offcanvas-toggle d-lg-none d-block text-end">
              <a
                href="#"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
              >
                <span class="navbar-toggler-icon"></span>
              </a>
              <div
                class="offcanvas offcanvas-end text-start"
                tabindex="-1"
                id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel"
              >
                <button
                  type="button"
                  class="btn-close text-reset mb-3"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
                <div class="offcanvas-body p-0">
                  <div class="nav-item">
                    <a
                      class="nav-link fw-5 fs-14 active"
                      aria-current="page"
                      href="index.html"
                      >Home</a
                    >
                  </div>
                  <div class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="about-us.html"
                      >About</a
                    >
                  </div>
                  <div class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="causes.html">Causes</a>
                  </div>
                  <div class="set">
                    <a class="nav-link fw-5 fs-14" href="#">Pages</a>
                    <a href="#" class="p-0"><i class="fa fa-plus"></i></a>
                    <div class="content">
                      <li><a href="faqs.html" class="fs-14 fw-5">FAQs</a></li>
                      <li>
                        <a href="events.html" class="fs-14 fw-5">Events</a>
                      </li>
                      
                      <li>
                        <a href="page/20.html" class="">Save</a>
                      </li>
                    </div>
                  </div>

                  <div class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="news.html">News</a>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="teams.html">Team</a>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link fw-5 fs-14" href="contact-us.html"
                      >Contact</a
                    >
                  </div>
                  <div class="text-lg-end header-btn-grp mt-4">
                    <a
                      href="register.html"
                      type="button"
                      class="btn btn-secondary me-xxl-3 me-3 mb-3 mb-lg-0"
                    >
                      Sign Up</a
                    >
                    <a href="login.html" class="btn btn-primary mb-3 mb-lg-0"
                      >Sign In</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--end mobile-menu -->
          </div>
        </div>
      </div>
    </header>



    <div class="news-details-page">
        <!-- start hero-section -->
        <section class="hero-section">
            <div class="inner-bgimg  position-relative"
                 style="background: url('allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg');">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 col-md-7 parallelogram-shape">
                            <div class="text-white inner-text position-relative">
                                <p class="fs-18 fw-5 mb-md-3 pb-lg-2 mb-2">Our Mission : Food, Education, Medicine</p>
                                <h2 class="fs-1 mb-md-0 fw-6">News Details</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end hero-section -->

        <!-- start news-details-section -->
        <div class="news-section ">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-8">
                        <!-- start news-details-left-section-->
                        <div class="news-details-left-section pt-100 ">
                            <h5 class="title text-dark fw-6 fs-20 pb-1">Save the Children Role in Fight Against Malnutrition Hailed
                            </h5>
                            <div class="news-details-img rounded-10 mb-20">
                                <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg"
                                     class="w-100 h-100 card-img-top object-fit-cover rounded-10" alt="card">
                            </div>
                            <div class="d-flex flex-wrap mb-20">
                                <div class="mb-2 me-4 pe-xxl-3">
                                    <i class="fa-solid fa-message text-primary me-2"></i>
                                    <span class="fs-14 fw-5 text-primary"
                                          id="commentCounts">5 Comments</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-calendar text-primary me-2"></i>
                                    <span class="fs-14 fw-5 text-primary">3rd October 2022</span>
                                </div>
                            </div>
                            <p class="fs-16 fw-5 text-dark">
                                <p>Your contribution has the power to uplift children in dire situations. We’re working towards a nation where its children live a secure life, full of opportunities for growth and development</p>

                            </p>
                            <div class="row justify-content-between pb-4 pt-4">
                              
                                
                                <div class="col-md-6 social-media">
                                    <h5 class="fs-20 fw-6 text-dark mb-4">Social Share</h5>
                                    <div class="d-flex flex-wrap">
                                        <div class="icon rounded-10 d-flex align-items-center justify-content-center me-3">
                                            <a href=""
                                               target="_blank" title="Facebook">
                                                <img src="allImage/facebook.png"
                                                     alt="facebook"
                                                     class="w-100 h-100 object-fit-cover">
                                            </a>
                                        </div>
                                        <div class="custom-twitter-img icon rounded-10 d-flex align-items-center justify-content-center me-3">
                                            <a href=""
                                               target="_blank" title="Twitter">
                                                <img src="allImage/twitter.png"
                                                     alt="twitter"
                                                     class="w-100 h-100 object-fit-cover">
                                            </a>
                                        </div>
                                        <div class="custom-instagram-img icon rounded-10 d-flex align-items-center justify-content-center me-3">
                                            <a href=""
                                               target="_blank" title="Instagram">
                                                <img src="allImage/instagram.png"
                                                     alt="instagram"
                                                     class="w-100 h-100 object-fit-cover">
                                            </a>
                                        </div>
                                        <div class="icon rounded-10 d-flex align-items-center justify-content-center  me-3">
                                            <a href=""
                                               target="_blank" title="Linkedin">
                                                <img src="allImage/linkedin.png"
                                                     alt="linkedin"
                                                     class="w-100 h-100 object-fit-cover">
                                            </a>
                                        </div>
                                        <div class="custom-pinterest-img icon rounded-10 d-flex align-items-center justify-content-center">
                                            <a href=""
                                               target="_blank" title="Pinterest">
                                                <img src="allImage/pinterest.png"
                                                     alt="pinterest"
                                                     class="w-100 h-100 object-fit-cover">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-section pt-30">
                                <h5 class="fs-20 fw-6 text-dark" id="commentCount">5</span>
                                        Comments</h5>
                                    <div class="comment-box">
                                                                                <div class="media d-flex mt-40 mb-40 post-comment">
                                                <div class="media-img me-sm-4 me-3 rounded-10">
                                                    <img src="allImage/team4.png"
                                                     class="w-100 h-100 rounded-10 object-fit-cover "
                                                     alt="comment-image">

                                            </div>
                                            <div class="media-body w-100">
                                                <div class="media-title d-flex flex-wrap justify-content-between ">
                                                    <div class="d-flex align-items-center flex-wrap  mb-2">
                                                        <h5 class="mt-sm-0 mt-2 mb-0  text-primary fs-18 fw-5 me-3 pe-sm-1">Emmanuel Nkhata</h5>
                                                        <span class="text-dark fs-14 me-4 mt-sm-0 mt-2">
                                                        <span class="text-dark me-3 pe-sm-1">|</span> 3rd October 2022</span>
                                                    </div>
                                                </div>
                                                <p class="fs-16 fw-5 text-dark mb-0">
                                                    rkkfkfkfkfkfkkfkfkkffkf
                                                </p>
                                            </div>
                                        </div>
                                                                                    <div class="media d-flex mt-40 mb-40 post-comment">
                                                <div class="media-img me-sm-4 me-3 rounded-10">
                                                    <img src="allImage/team4.png"
                                                     class="w-100 h-100 rounded-10 object-fit-cover "
                                                     alt="comment-image">

                                            </div>
                                            <div class="media-body w-100">
                                                <div class="media-title d-flex flex-wrap justify-content-between ">
                                                    <div class="d-flex align-items-center flex-wrap  mb-2">
                                                        <h5 class="mt-sm-0 mt-2 mb-0  text-primary fs-18 fw-5 me-3 pe-sm-1">Mustapha</h5>
                                                        <span class="text-dark fs-14 me-4 mt-sm-0 mt-2">
                                                        <span class="text-dark me-3 pe-sm-1">|</span> 3rd October 2022</span>
                                                    </div>
                                                </div>
                                                <p class="fs-16 fw-5 text-dark mb-0">
                                                    test
                                                </p>
                                            </div>
                                        </div>
                                                                                    <div class="media d-flex mt-40 mb-40 post-comment">
                                                <div class="media-img me-sm-4 me-3 rounded-10">
                                                    <img src="allImage/team4.png"
                                                     class="w-100 h-100 rounded-10 object-fit-cover "
                                                     alt="comment-image">

                                            </div>
                                            <div class="media-body w-100">
                                                <div class="media-title d-flex flex-wrap justify-content-between ">
                                                    <div class="d-flex align-items-center flex-wrap  mb-2">
                                                        <h5 class="mt-sm-0 mt-2 mb-0  text-primary fs-18 fw-5 me-3 pe-sm-1">Oliver Perry</h5>
                                                        <span class="text-dark fs-14 me-4 mt-sm-0 mt-2">
                                                        <span class="text-dark me-3 pe-sm-1">|</span> 3rd October 2022</span>
                                                    </div>
                                                </div>
                                                <p class="fs-16 fw-5 text-dark mb-0">
                                                    Amet qui sint est t
                                                </p>
                                            </div>
                                        </div>
                                                                                    <div class="media d-flex mt-40 mb-40 post-comment">
                                                <div class="media-img me-sm-4 me-3 rounded-10">
                                                    <img src="allImage/team4.png"
                                                     class="w-100 h-100 rounded-10 object-fit-cover "
                                                     alt="comment-image">

                                            </div>
                                            <div class="media-body w-100">
                                                <div class="media-title d-flex flex-wrap justify-content-between ">
                                                    <div class="d-flex align-items-center flex-wrap  mb-2">
                                                        <h5 class="mt-sm-0 mt-2 mb-0  text-primary fs-18 fw-5 me-3 pe-sm-1">bihnes</h5>
                                                        <span class="text-dark fs-14 me-4 mt-sm-0 mt-2">
                                                        <span class="text-dark me-3 pe-sm-1">|</span> 3rd October 2022</span>
                                                    </div>
                                                </div>
                                                <p class="fs-16 fw-5 text-dark mb-0">
                                                    test
                                                </p>
                                            </div>
                                        </div>
                                                                                    <div class="media d-flex mt-40 mb-40 post-comment">
                                                <div class="media-img me-sm-4 me-3 rounded-10">
                                                    <img src="allImage/team4.png"
                                                     class="w-100 h-100 rounded-10 object-fit-cover "
                                                     alt="comment-image">

                                            </div>
                                            <div class="media-body w-100">
                                                <div class="media-title d-flex flex-wrap justify-content-between ">
                                                    <div class="d-flex align-items-center flex-wrap  mb-2">
                                                        <h5 class="mt-sm-0 mt-2 mb-0  text-primary fs-18 fw-5 me-3 pe-sm-1">Cassandra Blake</h5>
                                                        <span class="text-dark fs-14 me-4 mt-sm-0 mt-2">
                                                        <span class="text-dark me-3 pe-sm-1">|</span> 3rd October 2022</span>
                                                    </div>
                                                </div>
                                                <p class="fs-16 fw-5 text-dark mb-0">
                                                    Et in voluptatibus m
                                                </p>
                                            </div>
                                        </div>
                                                                            </div>
                                </div>

                            <div class="post-comment-section pt-40">
                                <h5 class="title text-dark fw-6 fs-20 mt-15 mb-20">Post Comment</h5>
                                <form id="newsCommentsForm" method="post" action="#" class="comment-form radius-four">
                                    <input type="hidden" >                                    <div class="row pb-5">
                                        <input type="hidden" name="news_id" value="1">
                                        <input type="hidden" name="user_id"
                                               value="">

                                        <div class="col-md-6 mb-3 pb-1">
                                            <input type="text" id="name" name="name"
                                                   class="form-control fs-14 fw-5 text-dark"
                                                   placeholder="Enter your name">
                                        </div>
                                        <div class="col-md-6 mb-3 pb-1">
                                            <input type="email" id="email" name="email"
                                                   class="form-control fs-14 fw-5 text-dark"
                                                   placeholder="Enter your email">
                                        </div>
                                        <div class="col-12 mb-3 pb-1">
                                            <input type="text" id="websiteName" name="website_name"
                                                   class="form-control fs-14 fw-5 text-dark"
                                                   placeholder="Enter your website">
                                        </div>
                                        <div class="col-12">
                                            <textarea class="form-control fs-14 fw-5 text-dark" id="comments"
                                                      name="comments" rows="3"
                                                      placeholder="Type your comments..."></textarea>
                                        </div>
                                        <div class="col-3 mt-3">
                                            <button class="submit-btn btn btn-gray mt-2" id="newsCommentsBtn"
                                                    type="submit">
                                                Post Comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end news-details-left-section-->
                    </div>
                    <div class="col-xl-4 pt-100 pb-20">
    <!-- start news-right-section -->
    <div class="news-right-section">

        <!-- start search-object-section -->
    

        <!-- start popular-feeds-section -->
        <div class="popular-feeds bg-light p-30 rounded-10 position-relative mb-20">
            <div class="d-flex justify-content-between align-items-center mb-4 pb-lg-1">
                <h5 class="fs-20 fw-6 text-dark mb-0">Popular Feeds</h5>
                <div class="rectangle-shape"></div>
            </div>
                            <div class="d-flex mb-2 pb-lg-1 align-items-sm-center">
                    <div class="feeds-post me-3 rounded-10">
                        <a href="save-the-childr.html">
                            <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg"
                                 class="w-100 h-100 object-fit-cover rounded-10"></a>
                    </div>
                    <div class="feeds-text">
                        <p class="fs-16 fw-5 text-dark mb-1">
                            <a class="text-dark"
                               href="save-the-childr.html">esperanza test</a>
                        </p>
                        <p class="text-primary fs-14 fw-5 mb-0">26th September 2023</p>
                    </div>
                </div>
                            <div class="d-flex mb-2 pb-lg-1 align-items-sm-center">
                    <div class="feeds-post me-3 rounded-10">
                        <a href="save-the-childr.html">
                            <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg"
                                 class="w-100 h-100 object-fit-cover rounded-10"></a>
                    </div>
                    <div class="feeds-text">
                        <p class="fs-16 fw-5 text-dark mb-1">
                            <a class="text-dark"
                               href="save-the-childr.html">sgdhdsdsfbsdb</a>
                        </p>
                        <p class="text-primary fs-14 fw-5 mb-0">17th May 2023</p>
                    </div>
                </div>
                            <div class="d-flex mb-2 pb-lg-1 align-items-sm-center">
                    <div class="feeds-post me-3 rounded-10">
                        <a href="save-the-childr.html">
                            <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg"
                                 class="w-100 h-100 object-fit-cover rounded-10"></a>
                    </div>
                    <div class="feeds-text">
                        <p class="fs-16 fw-5 text-dark mb-1">
                            <a class="text-dark"
                               href="save-the-childr.html">Investment ideas for better returns</a>
                        </p>
                        <p class="text-primary fs-14 fw-5 mb-0">3rd October 2022</p>
                    </div>
                </div>
                            <div class="d-flex mb-2 pb-lg-1 align-items-sm-center">
                    <div class="feeds-post me-3 rounded-10">
                        <a href="save-the-childr.html">
                            <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg"
                                 class="w-100 h-100 object-fit-cover rounded-10"></a>
                    </div>
                    <div class="feeds-text">
                        <p class="fs-16 fw-5 text-dark mb-1">
                            <a class="text-dark"
                               href="save-the-childr.html">How new tech will change human life?</a>
                        </p>
                        <p class="text-primary fs-14 fw-5 mb-0">3rd October 2022</p>
                    </div>
                </div>
                    </div>
        <!-- end popular-feeds-section -->

        <!-- start categories-section -->
        <div class="categories-section bg-light p-30 rounded-10 position-relative mb-20">
            <div class="d-flex justify-content-between align-items-center mb-4 pb-lg-1">
                <h5 class="fs-20 fw-6 text-dark mb-0">Categories</h5>
                <div class="rectangle-shape"></div>
            </div>
                            <a href="news.html" data-id="1"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="1"
                          class="text-dark fs-16 fw-5 news-category-filter1">Charity</span>
                    <button class="border-0">
                        <span class="text-dark">3</span>
                    </button>
                </a>
                
                            <a href="news.html" data-id="3"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="3"
                          class="text-dark fs-16 fw-5 news-category-filter1">Food</span>
                    <button class="border-0">
                        <span class="text-dark">2</span>
                    </button>
                </a>
                
                            <a href="news.html" data-id="2"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="2"
                          class="text-dark fs-16 fw-5 news-category-filter1">Education</span>
                    <button class="border-0">
                        <span class="text-dark">1</span>
                    </button>
                </a>
                
                            <a href="news.html" data-id="4"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="4"
                          class="text-dark fs-16 fw-5 news-category-filter1">Sports</span>
                    <button class="border-0">
                        <span class="text-dark">1</span>
                    </button>
                </a>
                
                            <a href="news.html" data-id="5"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="5"
                          class="text-dark fs-16 fw-5 news-category-filter1">Growth</span>
                    <button class="border-0">
                        <span class="text-dark">1</span>
                    </button>
                </a>
                
                            <a href="news.html" data-id="6"
                   class=" categories d-flex align-items-center justify-content-between bg-white rounded-10 mb-2 news-category-filter1">
                    <span href="news.html"
                          data-id="6"
                          class="text-dark fs-16 fw-5 news-category-filter1">Technology</span>
                    <button class="border-0">
                        <span class="text-dark">1</span>
                    </button>
                </a>
                
                    </div>
        <!-- end categories-section -->

        <!-- start popular-tags-section -->
        <div class="popular-tags bg-light  rounded-10 position-relative ">
            <div class="d-flex justify-content-between align-items-center mb-4 pb-lg-1">
                <h5 class="fs-20 fw-6 text-dark mb-0">Popular tags</h5>
                <div class="rectangle-shape"></div>
            </div>
            <div class="tags d-flex flex-wrap">
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="6"
                           class="text-dark news-tags-filter fs-16 fw-5">technology</a>
                    </div>
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="5"
                           class="text-dark news-tags-filter fs-16 fw-5">knowledge</a>
                    </div>
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="4"
                           class="text-dark news-tags-filter fs-16 fw-5">latest</a>
                    </div>
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="1"
                           class="text-dark news-tags-filter fs-16 fw-5">donate</a>
                    </div>
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="2"
                           class="text-dark news-tags-filter fs-16 fw-5">help</a>
                    </div>
                                    <div class="tag me-2 mb-2">
                        <a href="news.html"
                           data-id="3"
                           class="text-dark news-tags-filter fs-16 fw-5">water</a>
                    </div>
                            </div>
        </div>
        <!-- end popular-tags-section -->

    </div>
    <!-- end news-right-section -->
</div>
                </div>
                                    <div class="row">
                        <div class="col-xl-8">
                            <div class="related-post-section pt-20 pb-20">
                                <h4 class="fs-26 fw-6 text-dark mb-20"> Related Post</h4>
                                <div class="related-causes">
                                    <div class="row">
                                                                                    <div class="col-md-6 trending-card mb-md-0 mb-40 pb-3">
                                                <div class="card h-100">
                                                    <div class="card-img">
                                                        <a href="save-the-childr.html">
                                                        <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg" alt="card"></a>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex mb-2">
                                                            <i class="fa-solid fa-calendar text-primary me-2"></i>
                                                            <span class="fs-14 fw-5 text-dark">26th September 2023</span>
                                                        </div>
                                                        <h5 class="text-dark fs-18 fw-5 mb-2"><a class="text-primary"
                                                                                                 href="save-the-childr.html">esperanza test</a>
                                                        </h5>
                                                        <p class="fs-16 fw-5 text-dark mb-0">
                                                        test -test
                                                    </div>
                                                </div>
                                            </div>
                                                                                    <div class="col-md-6 trending-card mb-md-0 mb-40 pb-3">
                                                <div class="card h-100">
                                                    <div class="card-img">
                                                        <a href="save-the-childr.html">
                                                        <img src="allImage/annie-spratt-OIuCXxx08yg-unsplash.jpg" alt="card"></a>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex mb-2">
                                                            <i class="fa-solid fa-calendar text-primary me-2"></i>
                                                            <span class="fs-14 fw-5 text-dark">3rd October 2022</span>
                                                        </div>
                                                        <h5 class="text-dark fs-18 fw-5 mb-2"><a class="text-primary"
                                                                                                 href="save-the-childr.html">Take Care Of The Elderly Witho...</a>
                                                        </h5>
                                                        <p class="fs-16 fw-5 text-dark mb-0">
                                                        Malnutrition is a condition that results from eating a diet...
                                                    </div>
                                                </div>
                                            </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            </div>
        </div>
        <!-- end news-details-section -->
    </div>

<section class="companies-logo-section pt-100 pb-100 bg-gray">
    <div class="container">
        <div class="slick-slider">
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/72/6.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="Turbologo"/>
                    </div>
                </div>
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/73/7.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="HeartCare"/>
                    </div>
                </div>
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/68/2.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="Duragas"/>
                    </div>
                </div>
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/69/3.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="SafeGuard"/>
                    </div>
                </div>
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/70/4.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="Maxton Design"/>
                    </div>
                </div>
                            <div class="slide d-flex justify-content-center">
                    <div class="company-logo ">
                        <img src="../../infyfunding.nyc3.digitaloceanspaces.com/71/5.png"
                             alt="duragas-logo"
                             class="w-100 h-100 object-fit-cover" title="LogoType"/>
                    </div>
                </div>
                    </div>
    </div>
</section>
<!-- start footer-section -->
<footer class=" bg-secondary pt-100 pb-100">
    <div class="container">
        <div class="row  justify-content-between">
            <div class="col-lg-6 ">
                <div class="footer-left mb-lg-0 mb-4">
                    <div class="footer-logo mb-4 pb-lg-2">
                        <a href="../index.html">
                            <img src="../front_landing/images/funding-logo.png" alt="Jobs"
                                 class="w-100 h-100 object-fit-cover"/>
                        </a>
                    </div>
                    <p class="fs-14 text-white mb-0">
                        It&#039;s been a year like no other, but we still have the chance to change the course of 2021 for 10,000 people in rural Mali. Together, we can transform the future for families who&#039;ve endured life without clean water for too long.

                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-right ps-xl-3">
                    <h3 class="fs-18 text-white mb-4 pb-lg-2">Get Updates
                    </h3>
                    <div class="email-box position-relative">
                        <form  method="post" id="addEmailForm"
                              class="ajax-form form-wraper mailchimp-form d-flex shadow-sm">
                            <input type="hidden" name="_token" value="PLti7y69EP3t2BQKCOJgDuPXNRGd8yLpp1DBOtab">                            <input type="email" name="email" class="fs-14 fw-5 text-white"
                                   placeholder="Enter Email Address">
                            <button type="submit" id="emailBtn" class="button btn-primary position-absolute fs-14 fw-5">
                                Subscribe
                            </button>
                        </form>
                    </div>


                    <div class="social-icon d-flex mt-4 pt-lg-2">
                        <div class="icon d-flex align-items-center justify-content-center me-sm-4 me-3">
                            <a href="https://www.facebook.com/infyom/" target="_blank">
                                <i class="fa-brands fa-facebook-f fs-16 justify-content-between align-items-center"></i>
                            </a>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center me-sm-4 me-3">
                            <a href="https://www.twitter.com/infyom/" target="_blank">
                                <i class="fa-brands fa-twitter fs-16 justify-content-between align-items-center"></i>
                            </a>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center me-sm-4 me-3">
                            <a href="https://www.instagram.com/infyom/" target="_blank">
                                <i class="fa-brands fa-instagram fs-16 justify-content-between align-items-center"></i>
                            </a>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center me-sm-4 me-3">
                            <a href="https://www.linkedin.com/infyom/" target="_blank">
                                <i class="fa-brands fa-linkedin-in fs-16 justify-content-between align-items-center"></i>
                            </a>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a href="https://www.youtube.com/infyom/" target="_blank">
                                <i class="fa-brands fa-youtube fs-16 justify-content-between align-items-center"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer-section -->

<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
crossorigin="anonymous"
></script>

</body>

</html>
