<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>FAQs | page</title>
    {% include "fundapp/css.html" %}
    
  </head>


  <body class="body-wrapper">
    <!-- start header section -->
     {% include "fundapp/header.html" %}

    <div class="team-page">
      <!-- start hero-section -->
      <section class="hero-section">
        <div
          class="inner-bgimg position-relative"
          style="background: url('{% static 'fundapp/allImage/team-hero-img.png' %}')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 parallelogram-shape">
                <div class="text-white inner-text position-relative">
                  <p class="fs-18 fw-5 mb-md-3 pb-lg-2 mb-2">
                    Our Mission : Food, Education, Medicine
                  </p>
                  <h2 class="fs-1 mb-md-0 fw-6">Our Team</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end hero-section -->
      <!-- start our-team-section -->
      <section class="our-team-section pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-5"
            >
              <div class="card flex-fill border-0">
                <div class="card-image mx-auto">
                  <img
                    src="{% static 'fundapp/allImage/team4.png' %}"
                    alt="Infy Care"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="card-body text-center d-flex flex-column">
                  <h4 class="fs-18 fw-5">Mr. Salman Ahmad</h4>
                  <h5 class="text-primary fs-14 fw-5 mb-0">Founder</h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-5"
            >
              <div class="card flex-fill border-0">
                <div class="card-image mx-auto">
                  <img
                    src="{% static 'fundapp/allImage/team4.png' %}"
                    alt="Infy Care"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="card-body text-center d-flex flex-column">
                  <h4 class="fs-18 fw-5">Mrs. Dimassi Shatt</h4>
                  <h5 class="text-primary fs-14 fw-5 mb-0">CEO</h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-5"
            >
              <div class="card flex-fill border-0">
                <div class="card-image mx-auto">
                  <img
                    src="{% static 'fundapp/allImage/team4.png' %}"
                    alt="Infy Care"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="card-body text-center d-flex flex-column">
                  <h4 class="fs-18 fw-5">Mr. John Thompson</h4>
                  <h5 class="text-primary fs-14 fw-5 mb-0">Support Staff</h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-sm-6 col-12 our-team-block d-flex align-items-stretch mb-5"
            >
              <div class="card flex-fill border-0">
                <div class="card-image mx-auto">
                  <img
                    src="{% static 'fundapp/allImage/team4.png' %}"
                    alt="Infy Care"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="card-body text-center d-flex flex-column">
                  <h4 class="fs-18 fw-5">Mr. Paul Smith</h4>
                  <h5 class="text-primary fs-14 fw-5 mb-0">Support Staff</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
              <a class="btn btn-primary px-5 fw-5" href="contact-us.html"
                >Join With Us</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- end our-team-section -->
    </div>

    <!-- company logo slide start -->
    {% include "fundapp/company-logo.html" %}
    <!-- company logo slide end -->

    <!-- start footer-section -->
    {% include 'fundapp/footer.html' %}
    <!-- end footer-section -->
    <!-- js -->
    {% include 'fundapp/js.html' %}
    </body>
  </html>
  