{% load static %}

<section class="trending-causes-section bg-gray py-60">
    <div class="container">
      <div class="text-center">
        <h2 class="fs-6 fw-6 text-primary">Trending Causes</h2>
        <h3 class="fs-2 fw-6 mb-60">
          It&#039;s About Impact, Good History
        </h3>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-12 trending-card">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="#">
                  <img
                    src="{% static 'fundapp/allImage/WhatsApp-Image-2024-06-04-at-11.29.57.jpeg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
                <div class="cause-feature-icon">
                  <i class="fas fa-award"></i>
                </div>
              </div>
              <a href="causes.html" class="badge small-btn">
                Global Cause</a
              >
              <div class="dropdown position-absolute">
                <button
                  class="share-btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-share text-white"></i>
                </button>
                <div
                  class="dropdown-menu px-2"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <div class="d-flex flex-wrap justify-content-between">
                    <div class="share-icon">
                      <a
                        href="https://www.facebook.com/sharer.php?u=https://crowdfunding.infyom.com/c/test1"
                        target="_blank"
                        title="Facebook"
                      >
                        <img
                          src="{% static 'fundapp/allImage/facebook.png' %}"
                          alt="facebook"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.instagram.com/sharer.php?u=https://crowdfunding.infyom.com/c/test1"
                        target="_blank"
                        title="Instagram"
                      >
                        <img
                          src="{% static 'fundapp/allImage/instagram.png' %}"
                          alt="instagram"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://crowdfunding.infyom.com/c/test1"
                        target="_blank"
                        title="Linkedin"
                      >
                        <img
                          src="front_landing/images/social-icon-images/linkedin.png' %}"
                          alt="linkedin"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://twitter.com/share?url=https://crowdfunding.infyom.com/c/test1&amp;text=test1&amp;hashtags=sharebuttons"
                        target="_blank"
                        title="Twitter"
                      >
                        <img
                          src="{% static 'fundapp/allImage/twitter.png' %}"
                          alt="twitter"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="mailto:?Subject=test1
                                                            &Body=This%20is%20your%20campaign%20link%20:%20https://crowdfunding.infyom.com/c/test1"
                        target="_blank"
                        title="Gmail"
                      >
                        <img
                          src="{% static 'fundapp/allImage/gmail.png' %}"
                          alt="gmail"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://pinterest.com/pin/create/link/?url=https://crowdfunding.infyom.com/c/test1"
                        target="_blank"
                        title="Pinterest"
                      >
                        <img
                          src="{% static 'fundapp/allImage/pinterest.png' %}"
                          alt="pinterest"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary fs-14">By John Doe</h4>
              <h5 class="text-dark fs-18 mb-3">
                <a class="text-dark lh-sm" href="#">test1</a>
              </h5>
              <div
                class="d-flex align-items-center justify-content-between flex-wrap"
              >
                <div class="d-flex align-items-center me-2 mt-2">
                  <div
                    data-progress="0.00"
                    style="--progress: 0%"
                    class="progress m-auto"
                  ></div>
                  <div class="ms-0 ps-3">
                    <div class="mb-2">
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        €0</span
                      >
                      <span class="text-primary">Raised</span>
                    </div>
                    <div>
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        €2000 </span
                      ><span class="text-primary">Goal</span>
                    </div>
                  </div>
                </div>
                <a href="" class="btn btn-gray mt-4"
                  >Donate</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 trending-card">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="#">
                  <img
                    src="{% static 'fundapp/allImage/WhatsApp-Image-2024-06-04-at-11.29.57.jpeg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="causes.html" class="badge small-btn"> Food</a>
              <div class="dropdown position-absolute">
                <button
                  class="share-btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-share text-white"></i>
                </button>
                <div
                  class="dropdown-menu px-2"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <div class="d-flex flex-wrap justify-content-between">
                    <div class="share-icon">
                      <a
                        href="https://www.facebook.com/sharer.php?u=https://crowdfunding.infyom.com/c/gdghfdgfd"
                        target="_blank"
                        title="Facebook"
                      >
                        <img
                          src="{% static 'fundapp/allImage/facebook.png' %}"
                          alt="facebook"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.instagram.com/sharer.php?u=https://crowdfunding.infyom.com/c/gdghfdgfd"
                        target="_blank"
                        title="Instagram"
                      >
                        <img
                          src="{% static 'fundapp/allImage/instagram.png' %}"
                          alt="instagram"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://crowdfunding.infyom.com/c/gdghfdgfd"
                        target="_blank"
                        title="Linkedin"
                      >
                        <img
                          src="{% static 'fundapp/allImage/linkedin.png' %}"
                          alt="linkedin"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://twitter.com/share?url=https://crowdfunding.infyom.com/c/gdghfdgfd&amp;text=gdghfdgfd&amp;hashtags=sharebuttons"
                        target="_blank"
                        title="Twitter"
                      >
                        <img
                          src="{% static 'fundapp/allImage/twitter.png' %}"
                          alt="twitter"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="mailto:?Subject=gdghfdgfd
                                                            &Body=This%20is%20your%20campaign%20link%20:%20https://crowdfunding.infyom.com/c/gdghfdgfd"
                        target="_blank"
                        title="Gmail"
                      >
                        <img
                          src="{% static 'fundapp/allImage/gmail.png' %}"
                          alt="gmail"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://pinterest.com/pin/create/link/?url=https://crowdfunding.infyom.com/c/gdghfdgfd"
                        target="_blank"
                        title="Pinterest"
                      >
                        <img
                          src="{% static 'fundapp/allImage/pinterest.png' %}"
                          alt="pinterest"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary fs-14">By Super Admin</h4>
              <h5 class="text-dark fs-18 mb-3">
                <a class="text-dark lh-sm" href="#"
                  >gdghfdgfd</a
                >
              </h5>
              <div
                class="d-flex align-items-center justify-content-between flex-wrap"
              >
                <div class="d-flex align-items-center me-2 mt-2">
                  <div
                    data-progress="0.00"
                    style="--progress: 0%"
                    class="progress m-auto"
                  ></div>
                  <div class="ms-0 ps-3">
                    <div class="mb-2">
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        $0</span
                      >
                      <span class="text-primary">Raised</span>
                    </div>
                    <div>
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        $0 </span
                      ><span class="text-primary">Goal</span>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn btn-gray mt-4"
                  >Donate</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 trending-card">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="#">
                  <img
                    src="{% static 'fundapp/allImage/WhatsApp-Image-2024-06-04-at-11.29.57.jpeg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="causes.html" class="badge small-btn"> Food</a>
              <div class="dropdown position-absolute">
                <button
                  class="share-btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-share text-white"></i>
                </button>
                <div
                  class="dropdown-menu px-2"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <div class="d-flex flex-wrap justify-content-between">
                    <div class="share-icon">
                      <a
                        href="https://www.facebook.com/sharer.php?u=https://crowdfunding.infyom.com/c/dsfdsfsdf"
                        target="_blank"
                        title="Facebook"
                      >
                        <img
                          src="{% static 'fundapp/allImage/facebook.png' %}"
                          alt="facebook"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.instagram.com/sharer.php?u=https://crowdfunding.infyom.com/c/dsfdsfsdf"
                        target="_blank"
                        title="Instagram"
                      >
                        <img
                          src="{% static 'fundapp/allImage/instagram.png' %}"
                          alt="instagram"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://crowdfunding.infyom.com/c/dsfdsfsdf"
                        target="_blank"
                        title="Linkedin"
                      >
                        <img
                          src="{% static 'fundapp/allImage/linkedin.png' %}"
                          alt="linkedin"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://twitter.com/share?url=https://crowdfunding.infyom.com/c/dsfdsfsdf&amp;text=dsfdsfsdf&amp;hashtags=sharebuttons"
                        target="_blank"
                        title="Twitter"
                      >
                        <img
                          src="{% static 'fundapp/allImage/twitter.png' %}"
                          alt="twitter"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="mailto:?Subject=dsfdsfsdf
                                                            &Body=This%20is%20your%20campaign%20link%20:%20https://crowdfunding.infyom.com/c/dsfdsfsdf"
                        target="_blank"
                        title="Gmail"
                      >
                        <img
                          src="{% static 'fundapp/allImage/gmail.png' %}"
                          alt="gmail"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://pinterest.com/pin/create/link/?url=https://crowdfunding.infyom.com/c/dsfdsfsdf"
                        target="_blank"
                        title="Pinterest"
                      >
                        <img
                          src="{% static 'fundapp/allImage/pinterest.png' %}"
                          alt="pinterest"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary fs-14">By Super Admin</h4>
              <h5 class="text-dark fs-18 mb-3">
                <a class="text-dark lh-sm" href="#"
                  >dsfdsfsdf</a
                >
              </h5>
              <div
                class="d-flex align-items-center justify-content-between flex-wrap"
              >
                <div class="d-flex align-items-center me-2 mt-2">
                  <div
                    data-progress="0.00"
                    style="--progress: 0%"
                    class="progress m-auto"
                  ></div>
                  <div class="ms-0 ps-3">
                    <div class="mb-2">
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        $0</span
                      >
                      <span class="text-primary">Raised</span>
                    </div>
                    <div>
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        $0 </span
                      ><span class="text-primary">Goal</span>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn btn-gray mt-4"
                  >Donate</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 trending-card">
          <div class="card">
            <div class="positon-relative">
              <div class="card-img">
                <a href="#">
                  <img
                    src="{% static 'fundapp/allImage/WhatsApp-Image-2024-06-04-at-11.29.57.jpeg' %}"
                    class="card-img-top object-fit-cover"
                    alt="card"
                /></a>
              </div>
              <a href="causes.html" class="badge small-btn"> Treatment</a>
              <div class="dropdown position-absolute">
                <button
                  class="share-btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-share text-white"></i>
                </button>
                <div
                  class="dropdown-menu px-2"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <div class="d-flex flex-wrap justify-content-between">
                    <div class="share-icon">
                      <a
                        href="https://www.facebook.com/sharer.php?u=https://crowdfunding.infyom.com/c/eswar"
                        target="_blank"
                        title="Facebook"
                      >
                        <img
                          src="{% static 'fundapp/allImage/facebook.png' %}"
                          alt="facebook"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.instagram.com/sharer.php?u=https://crowdfunding.infyom.com/c/eswar"
                        target="_blank"
                        title="Instagram"
                      >
                        <img
                          src="{% static 'fundapp/allImage/instagram.png' %}"
                          alt="instagram"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://crowdfunding.infyom.com/c/eswar"
                        target="_blank"
                        title="Linkedin"
                      >
                        <img
                          src="{% static 'fundapp/allImage/linkedin.png' %}"
                          alt="linkedin"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://twitter.com/share?url=https://crowdfunding.infyom.com/c/eswar&amp;text=Eswar&amp;hashtags=sharebuttons"
                        target="_blank"
                        title="Twitter"
                      >
                        <img
                          src="{% static 'fundapp/allImage/twitter.png' %}"
                          alt="twitter"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="mailto:?Subject=Eswar
                                                            &Body=This%20is%20your%20campaign%20link%20:%20https://crowdfunding.infyom.com/c/eswar"
                        target="_blank"
                        title="Gmail"
                      >
                        <img
                          src="{% static 'fundapp/allImage/gmail.png' %}"
                          alt="gmail"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                    <div class="share-icon">
                      <a
                        href="https://pinterest.com/pin/create/link/?url=https://crowdfunding.infyom.com/c/eswar"
                        target="_blank"
                        title="Pinterest"
                      >
                        <img
                          src="{% static 'fundapp/allImage/pinterest.png' %}"
                          alt="pinterest"
                          class="w-100 h-100 object-fit-cover"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-primary fs-14">By John Doe</h4>
              <h5 class="text-dark fs-18 mb-3">
                <a class="text-dark lh-sm" href="c/eswar.html">Eswar</a>
              </h5>
              <div
                class="d-flex align-items-center justify-content-between flex-wrap"
              >
                <div class="d-flex align-items-center me-2 mt-2">
                  <div
                    data-progress="0.88"
                    style="--progress: 19.88%"
                    class="progress m-auto"
                  ></div>
                  <div class="ms-0 ps-3">
                    <div class="mb-2">
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        ₹44</span
                      >
                      <span class="text-primary">Raised</span>
                    </div>
                    <div>
                      <span class="count-num text-dark fs-14 fw-5 me-1">
                        ₹5000 </span
                      ><span class="text-primary">Goal</span>
                    </div>
                  </div>
                </div>
                <a href="c/eswar/payment.html" class="btn btn-gray mt-4"
                  >Donate</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="causes.html" class="btn btn-secondary px-5">View All</a>
      </div>
    </div>
  </section>