{% load static %}

<section class="why-choose-section pt-60">
    <div class="container">
      <div class="text-center">
        <h2 class="fs-6 fw-6 text-primary">Why Choose Us</h2>
        <h3 class="fs-2 fw-6 mb-60">We&#039;ve Funded 5k Dollars Over</h3>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-7 col-12 mb-5">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq-13">
                <button
                  class="accordion-button px-0 fw-5 fs-16"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-collapse-13"
                  aria-expanded="true"
                  aria-controls="faq-collapse-13"
                >
                  How do I withdraw funds from my campaign?
                </button>
              </h2>
              <div
                id="faq-collapse-13"
                class="accordion-collapse collapse show"
                aria-labelledby="faq-13"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body px-0 pt-0">
                  <p class="fs-14 text-dark mb-0">
                    Once your Crowdfunding starts receiving online
                    donations, you can easily request a withdrawal at any
                    time. Withdrawing money does not affect the progress
                    meter displayed on your campaign. Simply click
                    ‘Withdraw’ while logged into your account and follow the
                    instructions. You can withdraw your balance directly to
                    your bank account. Bank transfers take 2-5 business days
                    to arrive.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq-12">
                <button
                  class="accordion-button px-0 fw-5 fs-16 collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-collapse-12"
                  aria-expanded="false"
                  aria-controls="faq-collapse-12"
                >
                  Can a friend withdraw the money I raise for them?
                </button>
              </h2>
              <div
                id="faq-collapse-12"
                class="accordion-collapse collapse"
                aria-labelledby="faq-12"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body px-0 pt-0">
                  <p class="fs-14 text-dark mb-0">
                    Yes. Crowdfunding makes it easy for another friend or
                    family member to securely access the funds you have
                    raised. Through Crowdfunding, they will receive direct
                    access to the money you have raised.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq-10">
                <button
                  class="accordion-button px-0 fw-5 fs-16 collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-collapse-10"
                  aria-expanded="false"
                  aria-controls="faq-collapse-10"
                >
                  How will I receive the donated funds?
                </button>
              </h2>
              <div
                id="faq-collapse-10"
                class="accordion-collapse collapse"
                aria-labelledby="faq-10"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body px-0 pt-0">
                  <p class="fs-14 text-dark mb-0">
                    You can withdraw donation amount to your PayPal account
                    or to your bank account.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12 mt-4 mt-lg-0">
          <div class="why-choos-img h-400 overflow-hidden">
            <img
              src="{% static 'fundapp/allImage/josh-appel-NeTPASr-bmQ-unsplash.jpg' %}"
              alt="why choose"
              class="img-fluid rounded-10 object-fit-cover h-75 w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </section>